/*
  _    _                      _
 | |  | |                    | |
 | |__| |   ___    __ _    __| |   ___   _ __
 |  __  |  / _ \  / _` |  / _` |  / _ \ | '__|
 | |  | | |  __/ | (_| | | (_| | |  __/ | |
 |_|  |_|  \___|  \__,_|  \__,_|  \___| |_|

 */
header {
    background-color: rgba(176, 182, 110, 0.26);
    max-height: 9em;
    z-index: 2;
}

header div.top-header {
    display: flex;
    justify-content: space-between;
    margin-left: 60px;
}

header div.logo-musee {
    display: flex;
    margin-top: 10px;

}

header div.header-button {
    margin-right: 15px;
    margin-top: 15px;
    justify-content: end;
    text-align: center;
}

header div img {
    margin-left: 60px;
    margin-top: 10px;
}

header .nom_musee {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

header nav ul li {
    margin-top: 15px;
    margin-bottom: 25px;
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
    align-items: center;
    list-style: none;
    background-color: #ffffff;
    margin-left: 10px;
    margin-right: 10px;
}

header nav ul {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

header div.lignetop {
    border-top: 2px solid #d6b251;
    padding-top: 5px;
    width: 150px;
    align-items: center;
}

header div.lignebottom {
    border-bottom: 2px solid #d6b251;
    padding-bottom: 5px;
    width: 150px;
    align-items: center;

}

header nav li:hover {
    font-size: 20px;
}

header .dropdown {
    position: relative;
}

header nav ul li.menu {

    background-color: #B0B66E;
}

header .dropdown-menu {
    display: none;
    position: absolute;
    top: 100%;
    width: 150px;
    background-color: #B0B66E;
}

header .dropdown:hover .dropdown-menu {
    display: block;
}

header .container-nom-musee {
    display: flex;
    justify-content: flex-start;
}

header .container-header {
    position: relative;
    padding: 25px;
}

header .container-museum-title {
    display: flex;
    justify-content: space-between;
}

header .container-museum-title button {
    justify-self: flex-end;
}

header .container-nom-musee img {
    padding-right: 25px;
}

/**************** NAV **********/

.box-nav nav ul {
    display: flex;
    justify-content: space-evenly;
    flex-direction: row;
    gap: 25px;

}

.box-nav nav ul.dropdown-menu li.menu a:hover {
    text-decoration: underline;
    text-underline-offset: 0.4em;
}

header .options-header a:hover {
    text-decoration: underline;
    text-underline-offset: 0.4em;
}

.box-nav {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    position: relative;
    z-index: 2;
}

.box-nav div.lignetop {
    border-top: 2px solid #d6b251;
    padding-top: 5px;
    width: 150px;
    align-items: center;
}

.box-nav div.lignebottom {
    border-bottom: 2px solid #d6b251;
    padding-bottom: 5px;
    width: 150px;
    align-items: center;
}

.box-nav .dropdown {
    position: relative;
}

.box-nav nav ul li.menu {
    background-color: #B0B66E;
    justify-content: center;
}

.box-nav .dropdown-menu {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    background-color: #B0B66E;
}

.box-nav .dropdown:hover .dropdown-menu {
    display: block;
    -top: 5px;
}

.splide__track ul li{text-align: center;}



/*
 __  __       _       
|  \/  |     (_)      
| \  / | __ _ _ _ __  
| |\/| |/ _` | | '_ \ 
| |  | | (_| | | | | |
|_|  |_|\__,_|_|_| |_|
                      
*/
body {
    background-color: white;
    font-family: 'Arial';
}

.section1 {
    z-index: 1;
}

main section {
    margin-top: 80px;
    margin-left: 60px;
    margin-right: 60px;
}

div.description-museum {
    display: flex;
    flex-wrap: wrap;
    gap: 25px;
}

div.description-museum img {
    justify-content: space-between;
}

img.interior {
    width: 648px;
    height: 488px;
    border-radius: 10px;
    max-width: 55%;
    max-height: 100%;
}

img.skeleton {
    width: 423px;
    height: 408px;
    border-radius: 10px;
    margin-top: 81px;
    max-width: 40%;
    max-height: 100%;
}

.cover img {
    height: 100%;
    width: 100%;
    object-fit: scale-down;
    max-width: 1024px;
    max-height: 680px;
}


div.block-text {
    width: 646px;
    height: 409px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin: auto;
}

div.block-text p,
section.presentation-museum h2,
p.intro-museum {
    margin-bottom: 50px;
}

div.description-museum img {
    margin-bottom: 25px;
}

section {
    margin-bottom: 80px;
}

p.intro-museum {
    width: 646px;
    max-width: 55%;
    max-height: 100%;
}

div.container {
    max-width: 83%;
    margin-left: auto;
    margin-right: auto;
    box-align: center;
}

.type-h3 {
    font-size: 40px;
    color: #3D3F3E;
}

section.education div.container-titre {
    max-width: 83%;
    margin-left: auto;
    margin-right: auto;
    align-items: center;
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    margin-bottom: 50px;
}

.line {
    width: 785px;
    height: 3px;
    background-color: #D6B251;
}

section.education img.button {
    filter: blur(1px);
    max-width: 100%;
    width: 648px;
    height: 185px;
    overflow: hidden;
    object-fit: cover;
    border: none;
    border-radius: 10px;
    position: relative;
    opacity: 50%;
}

.button-images {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 25px;

}

.scolarite,
.loisir {
    position: relative;
    width: 648px;
    height: 185px;
    max-width: 50%;
    margin-bottom: 80px;
}

.scolarite h3,
.loisir h3 {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

h3.button-school {
    font-size: 30px;
    color: white;
}

section .hover {
    position: absolute;
    background-color: #3D3F3E;
    opacity: 1;
    border-radius: 10px;

}

.grid-education {
    display: grid;
    grid-template-columns: 3fr 1fr 2fr;
    grid-template-rows: 1fr 1fr;
    margin-left: 9%;
    margin-right: 9%;
    gap: 10px;
}

.grid-education img {
    margin-bottom: 50px;
}

.imgchildren {
    object-fit: cover;
    height: auto;
    width: 100%;
    max-width: 100%;
    grid-column-start: 1;
    grid-column-end: span 1;
    grid-row-start: 2;
    grid-row-end: 2;
    border-radius: 10px;
}

.imgours {
    object-fit: cover;
    height: auto;
    width: 100%;
    max-width: 100%;
    grid-column-start: 1;
    grid-column-end: span 1;
    grid-row-start: 1;
    grid-row-end: 1;
    border-radius: 10px;

}

.texte-atelier {
    grid-column-start: 3;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 1;
    border-radius: 10px;

}

.line-school {
    grid-column-start: 2;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: 1;
    width: 100%;
    height: 3px;
    background-color: #D6B251;
    margin-top: 8%;
    justify-content: center;

}

.line-school1 {
    grid-column-start: 2;
    grid-column-end: 2;
    grid-row-start: 2;
    grid-row-end: 2;
    width: 100%;
    height: 3px;
    background-color: #D6B251;
    margin-top: 8%;
    justify-content: center;

}

h3.educ-title {
    color: #D6B251;
    font-size: 30px;
    margin-bottom: 25px;

}


/*.slideshow-grid{
    position: relative;
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: 1fr 5fr;

}
*/

.slideshow-grid {
    display: flex;
    align-items: center;
    margin-top: 150px;
    height: 600px;
    gap: 10px;
}

.slideshow-title {
    transform: translate(-100%, -100%);
    top: 50%;
    transform: rotate(-90deg);
    justify-content: center;
}

.container-slide {
    align-content: end;
    display: flex;
    width: 1276px;
}

/* .cover { 
    grid-column-start: 2;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: 1;
    position:relative;
    width: 70%

}*/
/*.cover-grid{
     grid-column-start: 2;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: 1;
}
*/

.cover {
    display: flex;
    align-items: end;
    border-radius: 10px;

}

.cover img {
    border-radius: 10px;
}

.rectangle-slideshow {
    display: flex;
    flex-direction: column;
    transform: translate(-100%, -100%);
    width: 50%;
    height: 35%;
    justify-content: space-around;
    position: absolute;
    background-color: lightgrey;
    align-content: end;
    padding: 50px;
    opacity: 0.7;
    border-radius: 10px 0 0 0;
}

.slideshow-description {
    display: block;
}

.slideshow-contenu {
    display: flex;
    opacity: 1;
    flex-direction: row;
    gap: 20px;
}

.bouton-Reserver2 {
    background-color: #39958c;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 10px;
    width: 199px;
    height: 55px
}

.line-slideshow {
    width: 20%;
    height: 3px;
    background-color: #D6B251;

}

.presentation-slideshow {
    display: flex;
    flex-direction: column-reverse;
    justify-content: space-between;
    align-items: end;

}

/*
  ______                   _
 |  ____|                 | |
 | |__      ___     ___   | |_    ___   _ __
 |  __|    / _ \   / _ \  | __|  / _ \ | '__|
 | |      | (_) | | (_) | | |_  |  __/ | |
 |_|       \___/   \___/   \__|  \___| |_|

 */
footer div {
    display: flex;
    justify-content: space-evenly;

}

footer div.ligne-footer {
    display: flex;
    flex-grow: initial;
    margin-top: 80px;
    border-top: 2px solid #d6b251;
    margin-bottom: 30px;

}

footer div nav ul {
    display: flex;
    justify-content: space-around;
    flex-direction: row-reverse;
}

footer div.footersubcontener {
    display: flex;
    justify-content: space-evenly;
    flex-direction: row;
}

footer div.footersubsubcontener {
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
    padding-left: 10px;
    padding-right: 10px;
}

.icon {
    display: flex;
    flex-direction: row;
    padding: 10px;

}