/*
  ______                   _
 |  ____|                 | |
 | |__      ___    _ __   | |_
 |  __|    / _ \  | '_ \  | __|
 | |      | (_) | | | | | | |_
 |_|       \___/  |_| |_|  \__|
 
 */

@font-face { 
    font-family : 'WalbaumDisplay';
    src: url('../font/walbaumdisplayregular.woff2');
}

@font-face { 
    font-family: 'Arial';
    src: url('../font/ArialMT.woff2');
}

@font-face { 
    font-family: 'Arial';
    font-style: bold;
    src: url('../font/Arial-BoldMT.woff2');
}

@font-face { 
    font-family: 'Arial-ItalicMT';
    font-style: italic;
    src: url('../font/Arial-ItalicMT.woff2');
}

body, p {
    font-family: 'Arial';
    font-size: 18px;
    color: #3D3F3E;
}

small { 
    font-family: 'Arial';
    font-size: 16px;
    color: #3D3F3E;
}

h1 {
    font-family: 'WalbaumDisplay';
    font-size: 45px;
    color: #3D3F3E;
}

h2 { 
    font-family: 'WalbaumDisplay';
    font-size: 40px;
    color: #D6B251;
    letter-spacing: 2px;
}

h3 {
    font-family: 'WalbaumDisplay';
    font-size: 30px;
    color: #3D3F3E;
    letter-spacing: 2px;
}

.bouton-reserver {
    top: 12px;
    left: 820px;
    width: 200px;
    height: 50px;
    background-color: #39958c;
    border: none;
    border-radius: 10px;    
    margin: 4px 2px;    
    display: flex;
    justify-content: space-evenly;
    padding: 10px;
    align-items: center;
}

.bouton-reserver p {
    color: white;
   /* padding: 15px 32px;*/
    text-align: center;
    text-decoration: none;
    font-size: 16px;
}

img.icon-button { 
    width: 26px;
    margin: 0px 0px 0px 0px;
}

header, body, footer {
    cursor: default;
}

a {
    font-family: 'Arial';
    font-size: 18px;
    color: #3D3F3E;
    text-decoration: none;
}

li.menu a {
    font-family: 'Arial';
    font-size: 15px;
    color: white;
    text-decoration: none;
}

.lien-special { 
    color: #39958c;
}

.lien-special:hover { 
    color: #D6B251;
    text-decoration: underline;
    text-underline-offset: 0.4em;
}
